.u-section-1 .u-sheet-1 {
  min-height: 1703px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 2.375rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-1 .u-image-1 {
  width: 297px;
  height: 297px;
  box-shadow: -10px -8px 40px 4px rgba(192,192,192,0.4);
  margin: 31px auto 0;
}

.u-section-1 .u-form-1 {
  height: 110px;
  background-image: none;
  width: 297px;
  margin: 22px auto 0;
}

.u-section-1 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  font-size: 0.75rem;
  font-weight: normal;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  width: 357px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  width: 357px;
  margin: 50px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 250px;
  height: 219px;
  margin: 14px auto 60px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 219px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    font-weight: 500;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 949px;
}

.u-section-2 .u-text-1 {
  font-size: 7.5rem;
  margin: 48px auto 60px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 186px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 55px auto;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1331px;
}

.u-section-4 .u-list-1 {
  width: 1013px;
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  min-height: 844px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  width: 287px;
  background-image: linear-gradient(#eaca96, #e36942);
  box-shadow: 5px 5px 0px 2px rgba(217,142,114,1);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 287px;
  background-image: linear-gradient(#a8bed2, #25476e);
  box-shadow: 5px 5px 0px 3px rgba(106,129,158,1);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-group-3 {
  width: 287px;
  background-image: linear-gradient(#eeb8b0, #b62d33);
  box-shadow: 5px 5px 0px 2px rgba(210,114,113,1);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  width: 287px;
  background-image: linear-gradient(#a3bfb2, #114f5a);
  box-shadow: 5px 5px 0px 3px rgba(103,134,134,0.4);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-group-5 {
  width: 287px;
  background-image: linear-gradient(#e9ca96, #d48207);
  box-shadow: 5px 5px 0px 2px rgba(214,168,102,0.4);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-4 .u-container-layout-11 {
  padding: 0;
}

.u-section-4 .u-group-6 {
  width: 287px;
  background-image: linear-gradient(#abacc9, #343a71);
  box-shadow: 5px 5px 0px 2px rgba(113,115,155,0.4);
  min-height: 403px;
  margin: 0 auto;
}

.u-section-4 .u-container-layout-12 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 783px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 1349px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }

  .u-section-4 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-right: 184px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 48px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 185px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 55px auto;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1699px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 174px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 12.5rem;
  font-weight: 800;
  margin: 453px 65px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  width: 784px;
  margin: -38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    font-size: 11.25rem;
    width: auto;
    margin-top: 292px;
    margin-right: 0;
    margin-left: 27px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -13px;
    margin-right: 65px;
    margin-left: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2033px;
  }

  .u-section-6 .u-text-2 {
    font-size: 9.375rem;
    margin-top: 608px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    width: 483px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3189px;
  }

  .u-section-6 .u-text-2 {
    width: 116px;
    margin-top: 445px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 38px;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3221px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 172px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 447px;
    margin-left: 97px;
  }

  .u-section-6 .u-text-3 {
    width: 270px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 1549px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 130px auto 0;
}

.u-section-7 .u-group-1 {
  width: 455px;
  box-shadow: 0px -1px 40px 5px rgba(171,172,201,0.9);
  min-height: 455px;
  background-image: linear-gradient(black, #1e1e1f);
  margin: 186px 55px 0 auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 0px rgba(52,58,113,1);
  margin: 0 auto;
}

.u-section-7 .u-group-2 {
  width: 455px;
  box-shadow: 0px 0px 40px 5px rgba(163,191,178,0.9);
  min-height: 455px;
  background-image: linear-gradient(-180deg, #000000, #1e1e1f);
  margin: -455px auto 0 55px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: 2px 2px 0px rgba(17,79,90,1);
  margin: 0 18px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 55px 630px 0 55px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: -456px 55px 0 630px;
}

.u-section-7 .u-text-6 {
  font-weight: 800;
  margin: 18px 55px 0 630px;
}

.u-section-7 .u-text-7 {
  font-size: 1.5rem;
  margin: 20px 55px 60px 630px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    margin-top: 807px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-group-2 {
    margin-top: -1147px;
    margin-left: 60px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: -455px;
    margin-right: 20px;
    margin-left: 565px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 85px;
    margin-right: 553px;
    margin-left: 87px;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 30px;
    margin-right: 430px;
    margin-left: 95px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 485px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 334px;
    min-height: 334px;
    margin-top: 981px;
  }

  .u-section-7 .u-group-2 {
    width: 334px;
    min-height: 334px;
    margin-top: -1200px;
  }

  .u-section-7 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-4 {
    margin-top: -334px;
    margin-right: 0;
    margin-left: 458px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 41px;
    margin-right: 383px;
    margin-left: 37px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 37px;
    margin-right: 268px;
    margin-left: 37px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    margin-top: 1187px;
    margin-right: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 49px;
  }

  .u-section-7 .u-group-2 {
    margin-top: -1412px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 49px;
    margin-right: 89px;
    margin-left: 103px;
  }

  .u-section-7 .u-text-5 {
    width: 334px;
    margin-top: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    width: 415px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-7 {
    margin-left: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    min-height: 340px;
    margin-top: 1405px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: auto;
  }

  .u-section-7 .u-group-2 {
    min-height: 340px;
    margin-top: -1630px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-7 .u-text-4 {
    width: 247px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 443px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-7 .u-text-6 {
    width: 340px;
    margin-top: 27px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 2013px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 555px;
  margin: 81px auto 0;
}

.u-section-8 .u-group-1 {
  width: 951px;
  min-height: 1170px;
  margin: 172px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 587px;
  line-height: 1;
  margin: 0 auto;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 692px;
  margin: 54px auto 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 60px 921px 0 95px;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 256px;
  margin: -62px auto 0;
}

.u-section-8 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -48px 94px 0 789px;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 28px 111px 0 789px;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -160px 799px 0 95px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -128px 458px 60px 442px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2599px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-section-8 .u-group-1 {
    min-height: 1146px;
    margin-top: 113px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-3 {
    margin-right: 71px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 26px;
    margin-right: 789px;
    margin-left: 26px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -56px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-right: 32px;
    margin-left: 652px;
  }

  .u-section-8 .u-text-7 {
    width: auto;
    margin-top: 19px;
    margin-right: 48px;
    margin-left: 652px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    margin-right: 668px;
    margin-left: 26px;
  }

  .u-section-8 .u-text-9 {
    width: auto;
    margin-right: 358px;
    margin-left: 342px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2992px;
  }

  .u-section-8 .u-text-3 {
    width: 660px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 500px;
    margin-left: 95px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-right: 46px;
    margin-left: 418px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 221px;
    margin-right: 374px;
    margin-left: 90px;
  }

  .u-section-8 .u-text-7 {
    margin-right: 390px;
    margin-left: 90px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -415px;
    margin-right: 379px;
    margin-left: 95px;
  }

  .u-section-8 .u-text-9 {
    margin-right: 62px;
    margin-left: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3237px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 56px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-8 .u-text-4 {
    width: 125px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: 256px;
    margin-top: 210px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-6 {
    width: 256px;
    margin-top: 332px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-7 {
    width: 240px;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-8 {
    width: 246px;
    margin-top: -818px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-9 {
    width: 240px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4761px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 22px;
    width: 340px;
  }

  .u-section-8 .u-group-1 {
    min-height: 1915px;
    margin-top: 124px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    width: 230px;
    margin-top: 77px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: 42px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 217px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 291px;
  }

  .u-section-8 .u-text-7 {
    margin-top: 22px;
  }

  .u-section-8 .u-text-8 {
    margin-top: -774px;
  }

  .u-section-8 .u-text-9 {
    margin-top: 147px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1575px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 751px;
  margin: 78px auto 0;
}

.u-section-9 .u-group-1 {
  width: 951px;
  min-height: 1090px;
  margin: 124px auto 60px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  width: 587px;
  margin: 26px auto 0;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  line-height: 1;
  font-size: 2.25rem;
  width: 587px;
  margin: 44px auto 0;
}

.u-section-9 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 574px;
  margin: 124px auto 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 940px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }

  .u-section-9 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-group-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-9 .u-text-2 {
    width: 520px;
  }

  .u-section-9 .u-text-3 {
    width: 520px;
  }

  .u-section-9 .u-text-4 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 320px;
  }

  .u-section-9 .u-text-3 {
    width: 320px;
  }

  .u-section-9 .u-text-4 {
    width: 320px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1724px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 63px auto 0;
}

.u-section-10 .u-group-1 {
  width: 250px;
  min-height: 252px;
  margin: 62px auto 0 62px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-2 {
  width: 250px;
  min-height: 267px;
  margin: 114px auto 0 336px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-3 {
  width: 237px;
  min-height: 504px;
  margin: -633px 293px 0 auto;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-4 {
  width: 250px;
  min-height: 348px;
  margin: -227px auto 0 62px;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px;
}

.u-section-10 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-5 {
  width: 250px;
  min-height: 300px;
  margin: -14px auto 0 336px;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-6 {
  width: 250px;
  min-height: 341px;
  margin: -958px auto 0 336px;
}

.u-section-10 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-10 .u-text-7 {
  font-size: 1.75rem;
  font-weight: 700;
  margin: 51px 0 0;
}

.u-section-10 .u-group-7 {
  width: 250px;
  min-height: 262px;
  margin: 354px auto 0 63px;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0;
}

.u-section-10 .u-group-8 {
  width: 237px;
  min-height: 429px;
  margin: -429px 293px 0 auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px;
}

.u-section-10 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 41px -5px 0 0;
}

.u-section-10 .u-group-9 {
  width: 237px;
  min-height: 959px;
  margin: -957px 32px 60px auto;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-10 .u-shape-1 {
  width: 163px;
  height: 163px;
  margin: 0 auto;
}

.u-section-10 .u-shape-2 {
  width: 163px;
  height: 163px;
  margin: 205px auto 0;
}

.u-section-10 .u-shape-3 {
  width: 163px;
  height: 163px;
  margin: 205px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2054px;
  }

  .u-section-10 .u-group-1 {
    margin-left: 65px;
  }

  .u-section-10 .u-group-3 {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 338px;
  }

  .u-section-10 .u-group-4 {
    min-height: 396px;
    margin-top: -885px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
  }

  .u-section-10 .u-group-5 {
    margin-top: 533px;
    margin-left: 332px;
  }

  .u-section-10 .u-group-6 {
    margin-top: -1506px;
    margin-left: auto;
  }

  .u-section-10 .u-text-7 {
    width: 174px;
  }

  .u-section-10 .u-group-7 {
    margin-top: 823px;
    margin-left: 65px;
  }

  .u-section-10 .u-group-8 {
    margin-top: -723px;
    margin-right: auto;
    margin-left: 69px;
  }

  .u-section-10 .u-group-9 {
    margin-top: -1137px;
    margin-right: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 3277px;
  }

  .u-section-10 .u-group-2 {
    margin-top: 204px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-10 .u-group-3 {
    margin-top: -423px;
    margin-left: 72px;
  }

  .u-section-10 .u-group-4 {
    margin-top: 40px;
    margin-right: 50px;
    margin-left: auto;
  }

  .u-section-10 .u-group-5 {
    margin-top: 138px;
    margin-right: 48px;
  }

  .u-section-10 .u-group-6 {
    margin-top: -1677px;
    margin-right: 48px;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-10 .u-group-7 {
    margin-top: 1464px;
    margin-right: 48px;
    margin-left: auto;
  }

  .u-section-10 .u-group-8 {
    margin-top: -84px;
    margin-left: 71px;
  }

  .u-section-10 .u-group-9 {
    margin-top: -1488px;
    margin-right: auto;
    margin-left: 72px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    margin-top: 21px;
    margin-left: 20px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-2 {
    margin-top: 145px;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-3 {
    margin-top: -362px;
    margin-left: 33px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-top: 106px;
  }

  .u-section-10 .u-group-4 {
    margin-top: -78px;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-5 {
    margin-top: 55px;
    margin-right: 0;
    margin-left: 290px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-6 {
    margin-top: -1479px;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-7 {
    margin-top: 1218px;
    margin-right: 0;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-text-8 {
    width: auto;
  }

  .u-section-10 .u-group-8 {
    margin-top: 55px;
    margin-left: auto;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-top: 64px;
    margin-right: 0;
    margin-left: 5px;
  }

  .u-section-10 .u-group-9 {
    margin-top: -1463px;
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 5178px;
  }

  .u-section-10 .u-group-1 {
    margin-left: auto;
  }

  .u-section-10 .u-group-2 {
    margin-top: 1355px;
    margin-right: auto;
  }

  .u-section-10 .u-group-3 {
    margin-top: -1580px;
    margin-left: auto;
  }

  .u-section-10 .u-group-4 {
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-10 .u-group-5 {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-group-6 {
    margin-top: 2145px;
    margin-right: auto;
  }

  .u-section-10 .u-text-7 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-10 .u-group-7 {
    margin-top: -651px;
    margin-right: auto;
  }

  .u-section-10 .u-group-8 {
    margin-top: -1740px;
  }

  .u-section-10 .u-group-9 {
    margin-top: 45px;
    margin-left: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 2877px;
}

.u-section-11 .u-text-1 {
  margin: 131px auto 0;
}

.u-section-11 .u-text-2 {
  width: 600px;
  margin: 1095px auto 0;
}

.u-section-11 .u-text-3 {
  margin: 976px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-2 {
    margin-top: 1103px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 968px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    margin-left: 78px;
    margin-right: 78px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 3174px;
  }

  .u-section-11 .u-text-2 {
    width: 216px;
    margin-top: 1099px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-3 {
    margin-top: 972px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1694px;
}

.u-section-12 .u-text-1 {
  font-weight: 500;
  margin: 78px auto 0;
}

.u-section-12 .u-text-2 {
  font-weight: 500;
  font-size: 2.375rem;
  margin: 0 auto;
}

.u-section-12 .u-text-3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-12 .u-image-1 {
  width: 297px;
  height: 297px;
  box-shadow: -10px -8px 40px 4px rgba(192,192,192,0.4);
  margin: 39px auto 0;
}

.u-section-12 .u-form-1 {
  height: 120px;
  background-image: none;
  width: 297px;
  margin: 71px auto 0;
}

.u-section-12 .u-label-1 {
  font-size: 0.75rem;
}

.u-section-12 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-12 .u-btn-1 {
  font-size: 0.75rem;
  font-weight: normal;
}

.u-section-12 .u-text-4 {
  font-size: 1rem;
  width: 357px;
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-12 .u-text-5 {
  font-size: 0.75rem;
  font-weight: 300;
  width: 335px;
  margin: 14px auto 0;
}

.u-section-12 .u-text-6 {
  width: 417px;
  margin: 402px auto 60px;
}

@media (max-width: 575px) {
  .u-section-12 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-12 .u-text-4 {
    width: 340px;
  }

  .u-section-12 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-6 {
    width: 340px;
  }
}